<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Kino_DAL.Properties.Settings.si106ConnectionString"
            connectionString="Data Source=.;Initial Catalog=si106;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="Kino_DAL.Properties.Settings.db_MISConnectionString"
            connectionString="Data Source=&quot;app.fit.ba, 1433&quot;;Initial Catalog=db_MIS;Persist Security Info=True;User ID=user_MIS;Password=password_mis1"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>